.container {
    margin: auto;
    max-width: 800px;
    font-family: sans-serif;
}
/* Heading */
.heading {
    color: #4402A8;
}

/*  */
.site-title {
    font-size: 3rem;
    color: #4402A8;
    font-weight: bold;
    margin: 2rem 0;
}